<nav>
  <div class="stats-page">
    <div class="stats-page-title">
      League Stats
    </div>
    <div class="stats-page-form" search-bar></div>
  </div>
</nav>
<section>
<div class="pure-g">
  <div class="pure-u-1-4">
    <!-- Space Setter -->
  </div>
  <div class="pure-u-1-4">
    <p>Quarters</p>
  </div>
  <div class="pure-u-1-4">
    <p>Quarters</p>
  </div>
  <div class="pure-u-1-4">
    <!-- Space Setter -->
  </div>
</div>
  <h1>Stats partial!</h1>
  <div>
    <div ng-show="playerFound">
      Loading: {{loading}}
      <br> can get stats: {{canGetStats}}

      <br> found: {{playerFound}}
      <br> {{playerName}}
      <br> {{playerId}}
      <br> {{playerStats}}
      <hr>
      <br>{{recentGames}}
    </div>
    <loading-icon ng-hide="playerFound"></loading-icon>
  </div>
</section>
