<nav>
  <div class="stats-page">
    <div class="stats-page-title">
      League Stats
    </div>
    <div class="stats-page-form" search-bar></div>
  </div>
</nav>
<section>
  <div class="pure-g">
    <div ng-show="canGetStats && !loading">
      <div class="pure-u-2-24"></div>
      <div class="pure-u-7-24">
        <h1>Stats by Mode</h1>
        <stat-table></stat-table>
      </div>
      <div class="pure-u-1-24"></div>

      <div class="pure-u-10-24">
        <h1>Recent Games</h1>
        <recent-games></recent-games>
      </div>
      <div class="pure-u-4-24"></div>
    </div>
    <div ng-show="!canGetStats && !loading">
      <div class="pure-u-1-1 no-match">
        <h1>No Stats Found for {{playerName}}</h1>
      </div>
    </div>
  </div>
  <loading-icon ng-hide="!loading"></loading-icon>
  </div>
</section>
