<nav>
  <div class="stats-page">
    <div class="stats-page-title">
      League Stats
    </div>
    <div class="stats-page-form" search-bar></div>
  </div>
</nav>
<section>
<div class="pure-g">
  <div class="pure-u-1-4">
    <!-- Space Setter -->
  </div>
  <div class="pure-u-1-4">
    <p>Quarters</p>
  </div>
  <div class="pure-u-1-4">
    <p>Quarters</p>
  </div>
  <div class="pure-u-1-4">
    <!-- Space Setter -->
  </div>
</div>
  <h1>Stats partial!</h1>
  <div>
    Loading: {{loading}}
    <br> can get stats: {{canGetStats}}

    <br> found: {{playerFound}}
    <div ng-hide="loading">
      <span id-to-name player-id="585897"></span>
      <!-- <br> {{'585897' | idname}} -->
      <br> {{playerStats}}
      <hr>
      <br>{{recentGames}}
    </div>
    <loading-icon ng-show="loading"></loading-icon>
  </div>
</section>
